

.pagesnumber_deeper
{
	background: #fafafa;
	font-family: Abadi MT Condensed Light;
	font-size: 10px;
	color: #9933cc;
	width: 450px;
	height: 40px;
	box-sizing: border-box;
	padding-top: 9px;
	margin: auto;

}

li
{
	display: inline-block;

}

.pagesnumber_deeper_numeric, .pagesnumber_deeper_6,
.pagesnumber_deeper_0
{
	width: 23px;
	height: 23px;
	box-sizing: border-box;
	text-align: center;
	border:1px solid #dddddd;
	background: #fafafa;
	padding-top: 5px;
	border-radius: 5px;

	
	/*еще один вариант :);*/
/*	border-radius: 54px 7px 70px 197px;
    -moz-border-radius: 54px 7px 70px 197px;
    -webkit-border-radius: 54px 7px 70px 197px;*/
}

.pagesnumber_deeper_6
{
	background: #9933cc;
	color: white;
}


.pagesnumber_deeper_1
{
	margin-left: -30px;

}

.pagesnumber_deeper_2, .pagesnumber_deeper_4, 
.pagesnumber_deeper_8, .pagesnumber_deeper_10
{
	margin-left: 3px;

}

.pagesnumber_deeper_3, .pagesnumber_deeper_9, 
.pagesnumber_deeper_0
{
	margin-left: 20px;

}

.pagesnumber_deeper_7
{
	margin-left: 15px;
}

.pagesnumber_deeper_5
{
	border:transparent;
	background: #fafafa;
	padding: 5px;
	vertical-align: text-top;
}
